*{
	box-sizing:border-box;
}

.header {
	display:flex;
	justify-content: space-around;
	position:sticky;
	top:1px;
	height:70px;
	background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.9) 0%, rgba(250, 0, 118, 0.9) 100%);
	width:100%;
	align-items:center;
}

.sa {
	text-decoration:none;
	color:white;
	
}
.logo {
	display:flex;
	margin-top: 10px;
}


.nav {
	display:flex;
	list-style:none;
	padding:15px;
	color: white;
	z-index: 2;
}


.bt {
	margin: 0px 20px 0px 20px;	
	padding: 10px;
	opacity: 0.5;
	font-family:sans-serif;
	transition:1s;
}
.bt:hover {
	border-bottom: solid 1px white;
	opacity: 1;
	cursor:default;
	transition:1s;
}
.headc {
	text-align: center;
	
}
h1 {
	color: white;
	font-size: 45px;
	font-weight: 10;
	font-family: sans-serif;
}
.tp {
	font-weight: bold;
}
h2 {
	color: white;
	font-size: 65px;
}
.Gr {
	background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
}
.txt1 {
	color: #ffb8f6;
	font-size: 25px;
	width:950px;
	margin: 0 auto;
	line-height: 40px;
	font-family: monospace;
}
.dw {
	display: flex;
	width:110px;
	height: 32px;
	border:1px solid white;
	align-items: center;
	justify-content: center;
	border-radius:5px;
	
}
.dw:hover {
	background-color:white;
	color:rgba(250, 0, 118, 0.8);
	
	
}
.white {
	display:flex;
	width:100%;
	align-items: center;
	justify-content: center;
	background-color:white;
	height:100px;
	text-align:center;
}



.imq {
max-height:500px;
overflow:hidden;
z-index: 1;
}

	
.im2 {
	margin: 15px 0px 15px 0px;
}
.midcont {
	height:450px;
	background-color:#faf6fb;
}
.hh {
	display:flex;
	flex-direction: column;
	align-items:center;
	
}
.hh1 {
	color: #998a9b;
	margin-top: 80px;
	font-family: 'Rubik', sans-serif;
	font-size:20px;
}
.hh2{
	color: #633991;
    font-size: 50px;
    font-weight: bold;
	font-family: monospace;
	margin: 0px;
}

div.card {
	display:flex;
	width:350px;
	height:180px;
	border-left: 5px solid #fc73b4;
	background-color: white;
	transition:0.5s;
}
div.card:hover {
	box-shadow: 1px 1px 5px 1px;
	margin-top:10px;
}
.sm {
	flex-basis:30%;
}
.txt {
	flex-basis:70%;
	align-items:flex-start;
}
i.fa {
	font-size: 60px;
	color: #fc73b4;
	margin-top:15px;
	
}
.h5 {
	font-size: 20px;
    font-weight: bold;
    color: #633991;
	text-align:left;
	
}
p.txt2{
	width:246px;
	height: 63px;
	text-align:left;
}
.contc {
	display:flex;
	justify-content:space-around;
	margin-top:50px;
}
.downc {
	display: flex;
	justify-content: space-around;
	background-color:white;
}
.crklc {
	display:flex;
	width: 100px;
	height:100px;
	border-radius: 50%;
	background-color: gray;
	align-items:center;
	justify-content:center;
	margin:25px 25px 0px 50px;
	box-shadow:1px 1px 5px 1px;
}

.crklc {
	width:200px;
	height:200px;
	
	}
	
.lftcnt {
	display:flex;
	height: 20vh;
	margin-top:25px;
}
.crklc:hover {
	background-color: #fc73b4;
	color: white;
	box-shadow:1px 1px 5px 1px black;
}

.crkltxt {
	font-size:45px;
}

.h6 {
	color: #633991;
	font-size: 28px;
    font-weight: 300;
	margin: 60px 0px 20px 0px;
}
.dowtxt {
	color: #959094;
	font-size: 20px;
}
.txt3 {
	margin-bottom: 80px;
}
.ln {
	height:2px;
	width:100%;
	background-image:linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
	margin:50px 0px 50px 0px;
}
.rgt {
	display:flex;
	flex-basis: 30%;
	justify-content: center;
	margin-bottom:80px;
	}

.im6 {
	width:100px;
	height:100px;  
	border-radius:50%;
}
.rim {
	height:920px;
	width: 500px;
	background-image: url(IMG/iphonex.png);
	background-position: center;
	transition: 2s;
}
.rim:hover {
	background-image: url(IMG/ip.jpg);
	height:920px;
	width: 500px;
	background-position: center;
	transition: 2s;
}
.price {
	background-color:#faf6fb;
}
.card2 {
	display:flex;
	margin-top: 25px;
	height: 700px;
	justify-content:space-around;
}
.carddeck {
	display:flex;
	justify-content:space-around;
	width:100%;
	height:100%;
	
}
.card2in {
	width:350px;
	height: 550px;
	background-color: white;
	box-shadow: 1px 1px 1px 1px;
	border-radius:5px;
	text-align:center;
	transition:1s;
}

.card2in:hover {
	margin:-20px 0px 0px 20px;
	transition:1s;
	box-shadow: 1px 1px 10px 2px;
}

.txtup {
	color: #e38cb7; 
	font-size: 80%;
    font-weight: 400;
	margin-top: 30px;
}
.txtp {
	font-size: 45px;
    font-weight: 300;
    color: #633991;
	margin: 10px 0px 50px 0px; 
}
.txtd {
	color: #959094;
	line-height: 40px;
}
.btnp {
	width:290px; 
	height:45px;
	background-image: linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
	border-radius: 10px;
	margin: 20px 0px 20px 0px; 
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: monospace;
	font-weight: bolder;
	font-size: 20px;
	box-shadow: 1px 1px 3px 1px black;
}
.btnp:hover {
	cursor: default;
	background-image: linear-gradient( 122deg, #fd378e 0%, #e54595 100%);
	box-shadow: 1px 1px 5px 1px black;
}
.txtd1 {
 text-decoration:line-through;
}
